/*  Menu   */
.menu .label{
    -fx-text-fill: white;
}
.menu-item .label{
    -fx-text-fill: black;
}
.menu-bar {
    -fx-background-color: black;
}
/*        */

/* ComboBox */
.combo-box {
    -fx-alignment: center;
    -fx-text-alignment: center;
}
/*          */

/* Permet de retirer le tab down button de la TabPane*/
.tab-down-button {
    -fx-padding: 0;
}
.tab-down-button .arrow {
    -fx-padding: 0;
}
/*      */

/* ListView - Retire le style de selection */
.list-view,
.list-cell,
.list-cell:filled:hover,
.list-cell:even,
.list-cell:odd,
.list-cell:filled:selected:focused,
.list-cell:filled:selected  {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}
.list-cell .button{
    -fx-font-size: 14px;
}
.noScrollBar-list-view .scroll-bar:vertical .increment-arrow,
.noScrollBar-list-view .scroll-bar:vertical .decrement-arrow,
.noScrollBar-list-view .scroll-bar:vertical .increment-button,
.noScrollBar-list-view .scroll-bar:vertical .decrement-button {
    -fx-padding:0;
}

/*      */

/* ListView RepoMenu */
.RepoMenulist-view,
.RepoMenulist-cell,
.RepoMenulist-cell:filled:hover,
.RepoMenulist-cell:even,
.RepoMenulist-cell:odd,
.RepoMenulist-cell:filled:selected:focused,
.RepoMenulist-cell:filled:selected  {
}
.RepoMenulist-view .scroll-bar:horizontal .increment-arrow,
.RepoMenulist-view .scroll-bar:horizontal .decrement-arrow,
.RepoMenulist-view .scroll-bar:horizontal .increment-button,
.RepoMenulist-view .scroll-bar:horizontal .decrement-button {
}

/*          */

/* Boutton */
/*
.button{
    -fx-background-color:#2f2f2f ;
    -fx-background-radius:0;
    -fx-border-color:white;
    -fx-border-width: 0.5;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.button:hover{
    -fx-background-color:#2f3561;
}
 */
/*        */

/* TreeView */
.tree-view{
    -fx-background-insets: 0;
    -fx-padding: 0;
}
/*      */

/* TableView */
.table-view .increment-arrow,
.table-view .decrement-arrow,
.table-view .increment-button,
.table-view .decrement-button {
    -fx-padding:0;
}
/*          */

/* SplitPane */

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: black;
    -fx-padding: 0 0.15em 0 0.15em;
}
.custom-split-pane:horizontal > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0 0.07em 0 0.07em;
}
.custom-split-pane:horizontal > .split-pane-divider:hover {
    -fx-background-color: #000035;
    -fx-padding: 0 0.07em 0 0.07em;
}


/*          */

/* Button Default Tab */
.buttonDefaultTab{
    -fx-background-color:#2f2f2f ;
    -fx-background-radius:0;
    -fx-border-color:white;
    -fx-border-width: 0.5;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}
.buttonDefaultTab:hover{
    -fx-background-color:#2f3561;
}
/*                    */


/* Button Repo Tab */
.buttonRepoTab{
    -fx-background-color:#191a18 ;
    -fx-background-radius:0;
    -fx-border-color: #929292;
    -fx-border-width: 0.5;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
.buttonRepoTab:hover{
    -fx-background-color:black;
}
/*                 */

/* RepoManagerMenu */
.titleRepoManager .label{
    -fx-font-size: 24px;
    -fx-text-fill: white;
}
/*                 */


/*
.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-shape: "M300,300 L310,310 L410,410 L421,421 L300, 300z";
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-shape: "M0,0 L300,0 L300,300 L0,300z";
    -fx-border-color: white;
}
 */
